/* General styles */
body {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

    margin-bottom: 10px;
}



/* Navigation bar */
nav {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

nav .logo img {
    height: 30px;
    border-radius: 4px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
    display: inline;
    border-radius: 4px;
    padding: 6px 4px;
    background-color: #555;
    transition: 0.1s;

}

nav ul li:hover {
    background-color: #444;
    scale: 1.2;

}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Search bar */
.search-bar form {
    display: flex;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #444;
}

/* Question cards */
.question-card-with-buttones {
    border: 0 solid #ccc;
    border-bottom: 2px solid #ccc;

    padding: 10px;
    margin-bottom: 10px;
}



.question-card-with-buttones>div {}

/* Footer */
footer {
    text-align: center;
    margin-top: 50px;
}

.question-header {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    text-wrap: wrap;
    border-bottom: 0.0001px solid #ccc;
    text-align: justify;
}



.question-footer {
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fa9e00;
    font-size: large;
}



.home, .account {
    aspect-ratio: 1/1 !important;
    width: 18px;
    text-align: center;
    cursor: pointer;

}

.question-header h6 {
    color: #fa9e00;
    margin: 0;

}

.interaction-buttons {
    display: flex;
    justify-content: space-between;
    margin: auto 10px;
}

.add-a-comment {
    border: none;
    background-color: #fa9e00;
    border-radius: 4px;
    padding: 4px 8px;
    transition: 0.2s;
    color: #2c1e03;
    font-weight: bold;
    cursor: pointer;
}

.add-a-comment:hover {
    scale: 1.1;
}

.question-header h1 span {
    font-size: 0.7em;
    color: #fa9e00;
}

.rated-star {
    color: #fa9e00;
}

.rating-buttons {
    color: #999;
    cursor: pointer;
}